.page {
  min-height: 100%;
  display: flex;
  background: url(../img/bg.png) no-repeat center;
  background-size: cover;
}

.page__content {
  align-self: center;
}

@media (min-width: 1708px) {
  .page {
    padding-right: 230px;
  }
}

@media (max-width: 1509px) {
  .page {
    padding-top: 140px;
    padding-bottom: 70px;
  }
}
