$white: #fff !default;

$bgPrimary: #151c28 !default;
$bgDark: rgba(#101722, 0.5) !default;
$bgDarkStroke: rgba(31, 42, 58, 0.5) !default;
$bgDarkLight: rgba(25, 33, 48, 0.35) !default;
$bgDarkLightStroke: rgba(38, 46, 63, 0.35) !default;

$textColor: #D9DFE9 !default;
$textColor2: #848E9F !default;
$textColor3: #4A4C61 !default;
$primary: #5E92FD !default;
$primary2: #6D55FF !default;
$gradient: linear-gradient(135deg, #5E92FD 0%, #6D55FF 100%);
$secondary: #F37A53 !default;
$secondary2: #48B99C !default;
$secondary3: #CA64BF !default;
