@import 'utils/mixin';
@import 'utils/functions';
@import 'utils/vars';
@import 'core/root';
@import 'core/fonts';
@import 'core/reboot';
@import 'core/typography';
@import 'core/general';
@import 'core/helpers';
@import 'core/form';
@import 'core/btn';

/* components */
@import 'components/header';
@import 'components/social';

.page {
  height: 100%;
  display: flex;
}

.page__side {
  width: 230px;
  padding: 40px 30px;
  background-color: $bgDarkLight;
  border: 1px solid $bgDarkLightStroke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page__side-logo {
  padding-left: 10px;
  padding-right: 10px;
}

.page__side-link {
  margin-left: -30px;
  margin-right: -30px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $textColor;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: $bgPrimary;
  }
}

.page__side-github {
  width: 60px;
  height: 16px;
}

.page__footer {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: $textColor2;
  text-align: center;
}

.page__content {
  border: 1px solid $bgDarkLightStroke;
}

@media (min-width: 1708px) {
  .page {
    padding-right: 230px;
  }
}
