@import 'utils/mixin';
@import 'utils/functions';
@import 'utils/vars';
@import 'core/root';
@import 'core/fonts';
@import 'core/reboot';
@import 'core/typography';
@import 'core/general';
@import 'core/helpers';
@import 'core/form';
@import 'core/btn';

/* components */
@import 'components/header';
@import 'components/social';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  position: relative;
  flex: 1 1 auto;
}
